/* 1. ESTILO BASE DE LA BARRA (TRACK) */
QScrollBar:horizontal {
    border: 1px solid #101010;
    background: #2D2D2D;
    height: 12px;
    margin: 0px 0px 0px 0px; 
    border-radius: 6px;
}
/* 2. OCULTAR EL BOTÓN IZQUIERDO (SUB-LINE) */
QScrollBar::sub-line:horizontal {
    border: none;
    width: 0px;
    height: 0px;
    background: none;
}
/* 3. OCULTAR EL BOTÓN DERECHO (ADD-LINE) */
QScrollBar::add-line:horizontal {
    border: none;
    width: 0px;
    height: 0px;
    background: none;
}
/* 4. ESTILO DEL CONTROL DESLIZANTE (HANDLE) */
QScrollBar::handle:horizontal {
    background: #101010;
    min-width: 20px;
    border-radius: 5px;
    border: 1px solid #303030;
}
/* Estilo del Handle al pasar el ratón (HOVER) */
QScrollBar::handle:horizontal:hover {
    background: #000000;
}

/* BORDE WIDGET SUPERIOR */
QWidget#wdg_superior {
    border:2px solid #000000;
}

QLabel#lbl_tiempo, #lbl_tiempo_total{
    font-size:14pt;
}
