# ----------------------------
# IDE / PyCharm
# ----------------------------
.idea/
*.iml

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Entornos virtuales
# ----------------------------
.venv/
venv/
ENV/
env/
env.bak/

# ----------------------------
# Logs y temporales
# ----------------------------
*.log
*.tmp
*.swp
*.swo

# ----------------------------
# Bases de datos locales
# ----------------------------
*.db
*.sqlite3

# ----------------------------
# Otros
# ----------------------------
.DS_Store
Thumbs.db
video_test/
iconos/
faltantes.txt
